<link rel="stylesheet" type="text/css" href="<%= url('/assets/homepage.css') %>">
<div id="wrapper">
<div id="navbar">
<ul>
 <li><a style="text-decoration:none;" href="/"><h2>P<h2></a></li>
 <li><a style="text-decoration:none;" href="/logout"><h3 style="margin-left:1222px;">Log Out</h3></a></li>
</ul>
</div>
</div>

<div class="card" style="background-color:#003152; width: 45rem; margin-left: auto; padding:10px; margin-right: auto; margin-top: 40px;">
  <div class="card-body">
  
  
  </div>
</div>
  <br>
  <br>