<!DOCTYPE HTML5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pottr</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>
<body>
    <% flash.keys.each do |type| %>
        <div class="flash <%= type %>">
        <%= flash[type] %>
        < a class="close-button" href="#">x</a>
        </div>
    <% end %>

    <ul>
    <% if session[:user_id] %>
        <!-- only show this code when signed in -->
        <!-- clicking on this link will hit the get "sign_out" route -->
    <% else %>
        <!-- only show this code when signed out -->
        <a href="/login"/>Login</a>
        <a href="/sign_up"/>Sign Up</a>
    <% end %>
    </ul>


<%= yield %>

</body>
</html>