<link rel="stylesheet" type="text/css" href="<%= url('/assets/homepage.css') %>">
<div id="wrapper">
<div id="navbar">
<ul>
 <li><a style="text-decoration:none;" href="/"><h2>P<h2></a></li>
 <li><a style="text-decoration:none;" href="/logout"><h3>Log Out</h3></a></li>
</ul>
</div>
