<div class="main-page-wrapper">
    <h1>Pottr</h1>
    <br>
    <p>Dedicated to the fans of <br>
    Harry Potter.</p>
    <p>Enter!</p>
    <a href="/sign_up"/>
        <button class="btn mt-5" id="signup-button">Sign Up</button>
    </a>
</div>