<link rel="stylesheet" type="text/css" href="<%= url('/assets/main.css') %>">
<div id="wrapper">
<div id="navbar">
<ul>
 <li><a style="text-decoration:none;" href="/"><h2>P<h2></a></li>
 <li><a style="text-decoration:none;" href="/login"><h3>Login</h3></a></li>
</ul>
</div>

<div class="main-page-wrapper">
    <h1>Pottr</h1>
    <br>
    <p>Dedicated to the fans of <br>
    Harry Potter.</p>
    <a style="text-decoration:none;" href="/aparecium"><p>Enter!</p></a>
    <a href="/sign_up"/>
        <button class="btn mt-5" id="signup-button">Sign Up</button>
    </a>
</div>