<link rel="stylesheet" type="text/css" href="<%= url('/assets/main.css') %>">
<div id="wrapper">
<nav style="background-color: #003152;" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="text-decoration:none;" class="navbar-brand" href="/"><h2>P</h2></a>
    </div>
    <ul style="display: inline-block;" class="nav navbar-nav">
      <li style="display: inline; float:left;"><a style="text-decoration:none;" href="/login"><h3>Login</h3></a></li>
    </ul>
  </div>
</nav>

<br>
<div class="main-page-wrapper">
 <div class="card" style="background-color: rgba(0, 0, 0, 0.72); width: 35rem; margin-left: auto; padding: 4px; margin-right: auto; margin-top: 40px;">
  <div class="card-body">
    <h1>Pottr</h1>
    <br>
    <p>Dedicated to the fans of <br>
    Harry Potter.</p>
    <p>Enter!</p>
    <center><a href="/sign_up"><button class="btn mt-5" id="signup-button">Sign Up</button></a></center>
    <br>
    <br>
    <br>
    <p>Curious? <br>
    View some posts before signing up!</p>
    <center><a href="/aparecium"><button class="btn mt-5" id="aparecium-button">Aparecium!</button></a></center>
    <br>
    <br>
    <br>
  </div>
 </div>
</div>
<br>
<br>
</div>