<link rel="stylesheet" type="text/css" href="<%= url('/assets/login.css') %>">
<div id="wrapper">
<div id="navbar">
<ul>
 <li><a style="text-decoration:none;" href="/"><h2>P<h2></a></li>
 <li><a style="text-decoration:none;" href="/login"><h3>Login</h3></a></li>
</ul>
</div>
<br>
<p>Login</p>

<div class="form">
  <form class="login" action="/login" method="post">
    <!-- Username -->
    <input type="text" placeholder="Username, please." name="username">
    <br>
    <!-- Password -->
    <input type="password" placeholder="Password, please." name="password">
    <br>
    <!-- Sign in button -->
    <button class="btn mt-5" id="signin-button" type="submit">Sign In</button>
    <br>
  </form>
</div>

<br>
<div id="non-member-wrapper">
    <!-- Sign up button -->
    <br>
    <br>
    <br>
    <p id="non-member">Not a member? Sign up for Pottr!</p>
    <a href="/sign_up"><button class="btn mt-5" id="signup-button">Sign Up</button>
</div>