<link rel="stylesheet" type="text/css" href="<%= url('/assets/login.css') %>">
<div id="wrapper">
<nav style="background-color: #003152;" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="text-decoration:none;" class="navbar-brand" href="/"><h2>P</h2></a>
    </div>
    <ul style="display: inline-block;" class="nav navbar-nav">
      <li style="display: inline; float:left;"><a style="text-decoration:none;" href="/login"><h3>Login</h3></a></li>
    </ul>
  </div>
</nav>
</div>
<br>
<p>Login</p>

<div class="form">
  <form class="login" action="/login" method="post">
    <!-- Username -->
    <input type="text" placeholder="Username, please." name="username">
    <br>
    <!-- Password -->
    <input type="password" placeholder="Password, please." name="password">
    <br>
    <!-- Sign in button -->
    <center><button class="btn mt-5" id="signin-button2" type="submit">Sign In</button></center>
    <br>
  </form>
</div>

<div id="non-member-wrapper">
    <!-- Sign up button -->
    <center><p id="non-member">Not a member? Sign up for Pottr!</p></center>
    <center><a href="/sign_up"><button style="margin-left:8px;" class="btn mt-5" id="signup-button2">Sign Up</button></a></center>
    <br>
    <br>
    <br>
</div>