<link rel="stylesheet" type="text/css" href="<%= url('/main.css') %>">
<form id="search-container" action="/search" method="POST">
    <input name="search_input" type="text" id="search-bar" placeholder="Search anything your heart erised...">
    <input type="submit" value="SEARCH">
</form>