<link rel="stylesheet" type="text/css" href="<%= url('/assets/signup.css') %>">
<div id="wrapper">
<div id="navbar">
<ul>
 <li><a style="text-decoration:none;" href="/"><h2>P<h2></a></li>
 <li><a style="text-decoration:none;" href="/login"><h3>Login</h3></a></li>
</ul>
</div>
<br>
<p>Sign Up</p>

<div class="form">
  <form class="signup" action="/sign_up" method="post">
    <!-- First name -->
    <input type="text" placeholder="First name, please." name="first_name">
    <br>
    <!-- Last name -->
    <input type="text" placeholder="Last name, please." name="last_name">
    <br>
    <!-- E-mail -->
    <input type="email" placeholder="Email, please." name="email">
    <br>
    <!-- Birthday -->
    <input type="date" style="height:30px; width:252px;" placeholder="mm/dd/yyyy" name="birthday" autofocus>
    <br>
    <!-- Username -->
    <input type="text" placeholder="Username, please." name="username">
    <br>
    <!-- Password -->
    <input type="password" placeholder="Password, please." name="password">
    <br>
    <!-- Sign in button -->
    <center><button class="btn mt-5" id="signin-button" type="submit">Sign In</button></center>
    <br>
  </form>
</div>
