body {
    background-image: url("/images/thegreathall.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h2 {
    font-family: "Harry P";
    font-size: 50px;
    text-align: left;
    color: gold;
}

h2:hover {
    color: white;
}

h3 {
    font-family: "New";
    text-align: right;
    margin-left: 1260px;
    color: gold;
}

h3:hover {
    color: white;
}

p {
    font-family: "New";
    text-align: center;
    color: gold;
    font-size: 50px;
}

.signup {
    display: block;
    text-align: center;
    padding: 20px;
}

input {
    padding-right: 80px;
}

#signin-button {
    background-color: gold;
    color: #003152;
    font-family: "New";
    font-size: 24px;
    padding-bottom: .06rem;
}

#signin-button:hover {
    background-color: #003152;
    color: gold;
}