body {
    background-image: url("/images/thegreathall.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: fixed;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 70rem;
    height: 34rem;
    display: flex;
    align-items: center;
    background-color: black;
    opacity: 0.5;
}

#signup {
    opacity: none;
}